@media only screen and (max-width: 1200px) {
  li {
    margin-left: 15px; }

  .social-menu {
    margin-left: 20px; }
 }

@media only screen and (max-width: 1024px) {
  body, html {
    overflow-x: hidden; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .half, .event {
    width: 100%; }

  #vendors a.button {
    left: 50%;
    margin-left: -113px; }

  .open {
    padding-right: 10px;
    margin-top: 10px; }

  .social-menu li {
    font-weight: 700;
    text-transform: uppercase; }

  .footer-content ul {
    display: none; }

  .home-content h2 {
    display: none; }

  .right-menu {
    display: none; }

  .right-menu {
    background-color: #fffef9;
    width: 100%;
    margin-top: 0px;
    position: absolute;
    left: 0;
    top: 105px;
    padding-bottom: 100px; }
    .right-menu li {
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0px;
      padding: 30px; }

  p, h2, h3, a {
    text-align: center; }

  input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    width: 95%; }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    width: 95%; }

  input[type="submit"] {
    width: 95%; }

  div.wpcf7-validation-errors {
    width: 95%; }

  div.wpcf7-mail-sent-ok {
    width: 95%; }

  .wpcf7-list-item label {
    margin-bottom: 0.5em; }
 }

@media only screen and (max-width: 800px) {
  #vendors .half {
    width: 100%; }

  a.button {
    left: 50%;
    margin-left: -113px; }
 }
