h1, h2, h3, a, p, li {
  color: #444443;
  letter-spacing: 0.2px;
  font-family: 'Quicksand'; }

nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

h2, h3 {
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px; }

h3 {
  font-size: 25px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 30px;
  padding-top: 15px; }

#vendors h2 {
  font-size: 25px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  padding-bottom: 0px; }
#vendors h3 {
  font-size: 45px;
  line-height: 30px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px; }

a {
  margin-bottom: 20px !important;
  display: block; }

.location-link {
  text-decoration: underline;
  font-family: Courier, monospace;
  font-size: 14px; }

#location .half h3 {
  padding-bottom: 5px; }
#location .half h3:nth-child(1) {
  padding-top: 0px;
  margin-top: 0px; }

.event {
  text-align: center; }
  .event h4 {
    font-family: 'Courier New', courier, monospace;
    font-weight: 600;
    font-size: 20px;
    padding-top: 40px; }
  .event p {
    margin-bottom: 2px; }

p {
  font-family: 'Courier New', courier, monospace;
  font-weight: 200;
  letter-spacing: 0.1px;
  line-height: 1.32em;
  font-size: 14px;
  margin-bottom: 20px; }

#about p, #vendors p {
  padding-bottom: 20px; }

a:hover, a:active, a:visited {
  color: #666; }

h1 {
  position: relative;
  margin-top: 20px;
  text-align: left;
  width: 100%; }

h1.title {
  margin-top: 0;
  margin-bottom: 40px; }

h1.title:before {
  content: "";
  display: block;
  border-top: solid 2px #444443;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1; }

h1.title span {
  background: black;
  padding-right: 20px;
  position: relative;
  z-index: 5; }

h2 {
  font-size: 45px; }

h3 {
  margin-bottom: 20px; }

nav li {
  text-align: right;
  padding-bottom: 5px; }
nav a {
  margin-bottom: 0px !important; }

.button {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px; }
