$gold: #444443;
$cream: #fffef9;



/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: transparent;
	overflow-x: hidden;
}

div{
	background: transparent;
}

img{
	width:100%;
}



/* `Headings
----------------------------------------------------------------------------------------------------*/

header{
	background-color: $cream;
	position: fixed;
	margin: 0 auto;
	z-index: 9999;
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	width: 100%;
	height:90px;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:-10px;
	margin: 0 auto;
	padding-top: 23px;
	ul{
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
		}
	}
}

nav.content.container{
	position: absolute;
	top:-15px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.mobile{
	display: none;
}

.desktop{
	display: block;
}

.header-bottom{
	position:fixed;
	z-index: 999;
	top:90px;
}

.right-menu, .left-menu, .logo-menu{
	float: left;
}

.right-menu{
	float: right;
	margin-top: 15px;
}

.left-menu{
	margin-left: 2.5%;
}

.social-menu{
	float: right;
	margin-left:40px;
	margin-top: 10px;
	li{
		margin-left: 0px;
	}
	img.social{
		width: 30px;
	}

}

.left-menu, .right-menu {
	border-width: 20px;
	//border-image: url(http://eatstreet.blinkltd.co.nz/wp-content/themes/Knomad-child/images/border-line.svg) 20 stretch;
	border-top:0;
	border-left:0;
	border-right:0;
}

.left-menu li:nth-child(1), .right-menu li:nth-child(1) {
  margin-left: 0;
}


#photos{
	margin-bottom: 40px;
	img{
		width: 33%;
		padding: 1.5%;	
		float: left;
	}

}

#instafeed{
	img{
		width: 25%;
		padding: 1.5%;	
		float: left;
	}
}


.placeholder-image{
	width: 100%;
	background-color: #222;
	margin-right: 3%; 
	float: left;
	margin-bottom: 40px;
	height:200px;
}

.logo{
	width: 120px; 
	margin-top: -55px;
	padding-left: 2.5%;
}

.home-content{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 120px;
	
	.home-logo{
		width: 45%;
		text-align: center;
		margin: 0px auto;
		padding: 40px 0;
	}
	h2{
		color: #fffef9;
		font-size: 40px;
		line-height: 44px;
	}

}

.border{
	padding-top: 15px;
	padding-bottom: 20px;
}

.vert{
	width: 2%;
	height: 250px; 
	float: left;
}

.banner{
	position: absolute;
	top: 97px;
	z-index: 2;
	right: 0;
	width: 280px; 
}

.link{
	text-align: center;
	padding-top: 40px;
	a{
		display: inline-block;
		text-decoration: underline;
		font-family: Courier, monospace;
	}
}

#video-home{
	position: relative;
	overflow: hidden;
	background: black;
	padding-top: 110px;
	.home-content{
		position: absolute;
		top:-10px;
	}
}

#sponsors{
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	P{
		font-family: 'Quicksand';
		text-transform: uppercase;
		font-weight: 800;
		padding-bottom: 20px;
	}
	img{
		width: auto;
		display: inline-block;
		text-align: center;
	}
}

.flexslider{
	background: transparent;
}

#vendors {
	.half{
		width: 45%;
	}
	li{
		margin-left: 0px;
	}
}

#vendors .half:nth-child(2){
  margin-right: 20px;
}

ol.flex-control-nav.flex-control-paging{
	display:none;
}

.event{
	width: 49.5%;
	float: left;
}

/* `Divs
----------------------------------------------------------------------------------------------------*/	

.section{
	width: 100%;
}

.image{
	position: relative;
	z-index: 1;
	height:100vh;
	margin-top: -70px;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position: center center;
	//background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.copy{
	position: relative;
	background-color: #fffef9;
	z-index: 2;

}

.background{
	position: relative;
	background-color: transparent;
	margin-top: -50px;
}

.content{
	background-color: transparent;
}

#home{
	height:auto;
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
	background-position: center center;
	background-attachment: fixed;
}

#about{
	margin-top: -40px;
}
#vendors{
}
#events{
	
}
#gallery{
	
}
#location{
	
}

.thumb{
	width: 25%;
	float: left;
	padding: 2.5%;
}


.paper-top, .paper-bottom{
	position: absolute;
	z-index: 999;
	min-width: 1400px;
}

.paper-top{
	top:-49px;
}

.paper-bottom{
	margin-top:0px;
}


/* `Footer
----------------------------------------------------------------------------------------------------*/	


footer{
	background-color: transparent;
	text-align: left;
	position: relative;
	width: 100%;
}

	
.footer-content{
	padding-top: 40px;
	nav a{
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700; 
		letter-spacing: 1px;
	}
}

p.copyright{
	color: $gold;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 10px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.footer-logo{
	width: 180px; 
	padding-top: 10px;
}


img.ft-logo{
	position: absolute;
	left:0px;
	bottom: 15px;
	width: 120px;
}

.knomad{
	font-family: 'Source Code Pro', sans-serif;
	position: absolute;
	color: #333;
	right:0px;
	bottom: 15px;
	font-size: 12px;
}

.knomad:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: transparent;
	border: 1px solid $gold;
	color: $gold;
	padding:10px 30px;
	padding-top: 12px;
	margin-top: 0px;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
}

.button:hover,
.button:focus,
.button:active{
	color: white;
	background-color: $gold;
	border: 1px solid $gold;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}


.flex-direction-nav a{
	top:30% !important;
}


/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:60%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: black;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: $gold;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 60%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: black;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: black;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 60%;
	border: 0.5px solid black;
	border-radius: 0px;

	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:60%;
	color: #f7e700;
	font-family: 'Montserrat', sans-serif;
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:60%;
	color: #398f14;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

div.wpcf7-response-output{
	padding: 1em 1em !important;
}




/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/


.wpcf7-list-item input[type="radio"] {
    display:none; 
}

.wpcf7-list-item label {
    display:inline-block;
    background-color:black;
    border: 2px solid $gold;
    padding:20px 30px;
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    text-transform: uppercase;
}

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label { 
    color:white;
}